*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

body{
    background-color: #f3fae1;
}

header{
    background-color: #d9d9d9;

    #navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2%;

        & #categorias {
            display: flex;
            list-style: none;
            gap: 20px;
        } 
    }
}

main{
    padding: 2%;
    margin: auto;

    #presentacion{
        text-align: center;
        
        & h1{
            font-weight: bold;
            font-size: 1.5rem;
        }
    }

    #seccion-acordiones{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 2% 2%;
        gap: 20px;
        
    }
}

